<html>
<head>
    <meta charset="UTF-8">
    <title>Axelerant: Interview Frontend</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h3>Welcome</h3>
    {% include "_button.html.twig" %}

    <script src="main.js"></script>
</body>
